body {
  color:#00000;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  position: relative;
  width: 100%;
  height: 60px;
  min-height: 35rem;
  padding: 5rem 0;
  background: url("Wallpaper2.jpg");
  margin-top:auto;
  background-position: center;
  background-repeat:repeat;
  background-size: contain;
}


#mainNav {
  min-height: 60px;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 2rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}

header {
  text-align: center;
  margin-top: 60px;
}
h1 {
  font-size: 70px;
  background-color: #f5f5dc;
  opacity: 0.9;
  font-weight: bolder;
}
h2, h3 {
  background-color: #f5f5dc;
  opacity: 0.9;
  font-weight: bolder;
}
