body {
	padding-top: 100px;
	line-height: 150%;
	background-color: #ffffff;
}

#carousel-example-generic img {
	display: block;
	width: 600px;
	margin: 0 auto;
	max-width: 100%;
	}

.jumbotron-header {
	padding-top: 250px;
	padding-right: 30px;
	padding-bottom: 250px;
	padding-left: 80px;
	background-image: url(images/chorizo-croquettes.jpg);
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	transform: scale(0.9);
	background-position: center center;
}

.transbox-header {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
/*
.transbox-header h1, h2 {
		margin: 4%;
		font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    color: #000000;
		text-align: center;
} */

.row {
	text-align: center;
}

.row {
	background-color: #e49d9f;
}

#application-form {
padding-left: 400px
}

h1 {
	font-size: 80px;
	font-family: 'Amatic SC', cursive;
	color: #de898b;
}

h2 {
	font-size: 200%;
	color: #de898b;
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
}

h3 {
	font-weight: bold;
	font-size: 50px;
	color: #000000;
	font-family: 'Amatic SC', cursive;
	padding-top: 50px;
	/* padding-right: 30px; */
	padding-bottom: 30px;
	/* padding-left: 80px; */
}

h4 {
	color: #000000;
	margin-bottom: 90px;
	margin-left: 60px;
	font-weight: bolder;
	font-size: 30px;
	font-family: 'Amatic SC', cursive;
}

h5 {
	font-weight: bold;
	font-family: 'Amatic SC', cursive;
	font-size: 30px;
	padding-top: 30px;
	/* padding-right: 30px; */
	padding-bottom: 100px;
	/* padding-left: 80px; */
	text-align: left;
}

h6 {
	color: #000000
	font-weight: bold;
	font-family: 'Amatic SC', cursive;
	font-size: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 300px
}

p {
	line-height: 20px;
}

.container {
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 80px;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
}

.carousel {
  padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 70px;
	padding-left: 70px;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
}

.navbar-default {
	background-color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #777;
}

.social .fa-twitter:hover {
    color: #00ABE3;
}

.social .fa-facebook:hover {
    color: #4060A5;
}

.social .fa-envelope:hover {
    color: #e64522;
}

.social .fa-instagram:hover {
    color: #bc2a8d
}

.navbar-brand {
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
  background-color: white;
  color: #777;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 40px;
  line-height: 20px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
		color: #e49d9f;
		/* color: #777 */
}

.codfish a p.new-label span{
	  position: absolute;
	  content: 'NEW'
}
.codfish:hover a p.new-label span{
	  display: none;
	}
.codfish:hover a p.new-label:after{
    content: '250g / 8,8 oz of unsalted codfish';
}


.Potato a p.new-label span{
	position: relative;
	content: 'NEW'
}
.Potato:hover a p.new-label span{
	display: none;
}
.Potato:hover a p.new-label:after{
	content: '200g / 7oz of potatoes';
}

.Parsley a p.new-label span{
	position: relative;
	content: 'NEW'
	}
.Parsley:hover a p.new-label span{
	display: none;
	}
.Parsley:hover a p.new-label:after{
	content: '1 table spoon of chopped parsley';
}


.Egg a p.new-label span{
	position: relative;
	content: 'NEW'
	}
.Egg:hover a p.new-label span{
	display: none;
	}
.Egg:hover a p.new-label:after{
	content: '3 to 4 eggs';
}


.Wine a p.new-label span{
	position: relative;
	content: 'NEW'
	}
.Wine:hover a p.new-label span{
	display: none;
	}
.Wine:hover a p.new-label:after{
	content: '1 small goblet of Port wine';
}

.SP a p.new-label span{
	position: relative;
	content: 'NEW'
	}
.SP:hover a p.new-label span{
	display: none;
	}
.SP:hover a p.new-label:after{
	content: 'Salt & Pepper';
}

.Nut a p.new-label span{
	position: relative;
	content: 'NEW'
	}
.Nut:hover a p.new-label span{
	display: none;
	}
.Nut:hover a p.new-label:after{
	content: 'Nutmeg';
}

.oil a p.new-label span{
	position: relative;
	content: 'NEW'
	}
.oil:hover a p.new-label span{
	display: none;
	}
.oil:hover a p.new-label:after{
	content: 'Frying oil';
}

.Onion a p.new-label span{
	position: relative;
	content: 'NEW'
	}
.Onion:hover a p.new-label span{
	display: none;
	}
.Onion:hover a p.new-label:after{
	content: '1/2 Onion';
}

.Codfish a p.new-label span{
	position: relative;
	content: 'NEW'
	}
.Codfish:hover a p.new-label span{
	display: none;
	}
.Codfish:hover a p.new-label:after{
	content: '250g / 8,8 oz of unsalted codfish';
}
