body {
  color:#00000;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  position: relative;
  width: 100%;
  height: 60px;
  min-height: 35rem;
  padding: 10rem 0;
  background: url("PSbackgroundimages.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background: rgba(300, 300, 300, 0.3);
    padding-top: 10px;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    margin-top: -120px;
    color: #2C3E50;
    }


h1 {
  font-size: 70px;
}

h2 {
  padding-bottom: 7rem;
}

.btn-primary {
  background-color: #64a19d;
  border: 0;
  padding: 1.25rem 2rem;
}

.btn-primary:hover {
  background-color: #4f837f;
}

.btn-primary:focus {
  background-color: #4f837f;
  color: white;
}

.btn-primary:active {
  background-color: #467370 !important;
}

#mainNav {
  min-height: 56px;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}
