body {
  color:#00000;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  position: relative;
  width: 100%;
  height: 60px;
  min-height: 35rem;
  padding: 15rem 0;
  background: url("PSbackgroundimages.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


header {
  text-align: center;
  margin-top: 60px;
}

h1 {
  font-size: 70px;
  background-color: #f5f5dc;
  opacity: 0.9;
  font-weight: bolder;
}


h2 {
  padding-bottom: 7rem;
  font-size: 50px;
  font-weight: bolder;
  margin-top: -10px;
}

.btn-primary {
  background-color: #ff6c37;
  border: 0;
  padding: 0.5rem 2rem;
  margin-top: -80px;
  font-size: 30px;
  font-weight: 300;
}

.btn-primary:hover {
  background-color: #4f837f;
}

.btn-primary:focus {
  background-color: #4f837f;
  color: white;
}

.btn-primary:active {
  background-color: #467370 !important;
}

#mainNav {
  min-height: 56px;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}

main {
  text-align:center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
}
.social .fa-twitter:hover {
    color: #00ABE3;
    padding: 20px;
    font-size: 30px;
    width: 50px;
}

.social .fa-facebook:hover {
    color: #4060A5;
    padding: 20px;
    font-size: 30px;
    width: 50px;
}

.social .fa-envelope:hover {
    color: #e64522;
    padding: 20px;
    font-size: 30px;
    width: 50px;
}

.social .fa-instagram:hover {
    color: #bc2a8d
    padding: 20px;
    font-size: 30px;
    width: 50px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: coral;
		/* color: #e49d9f; */
}
