body {
  color:#00000;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  position: relative;
  width: 100%;
  height: 60px;
  min-height: 35rem;
  padding: 5rem 0;
  background: url("Wallpaper2.jpg");
  margin-top:auto;
  background-position: center;
  background-repeat:repeat;
  background-size: contain;
}

header {
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 125px;
  background-color: #f5f5dc;
  padding-top: 0.5rem;
}

.card-body {
  background-color:#e9b1b2;
}

.card-body-france {
  background-color:#D3C4BE;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-body-germany {
  background-color: #ebc5c4;
  flex: 1 1 auto;
  padding: 1.25rem;
}

h3 {
 font-size: 35px;
 font-weight: bolder;
}

p {
  font-size: 25px;
}

.btn-primary-Spain {
  font-size: 25px;
  padding-bottom: 2rem 1rem;
  margin-top: 20px;
  Background-color: #ffffff;
  margin-left: 90px;
  color: #de898b;
  font-weight: bolder;
}

.btn-primary-France {
  font-size: 25px;
  padding-bottom: 2rem 1rem;
  margin-top: 20px;
  margin-left: 140px;
  background-color: #ffffff;
  color: #d17b78;
  font-weight: bolder;
}

.btn-primary-Germany {
  font-size: 25px;
  padding-bottom: 2rem 1rem;
  margin-top: -90px;
  Background-color: #ffffff;
  margin-left: 150px;
  color: #dea09e;
  font-weight: bolder;
}

#mainNav {
  min-height: 60px;
  background-color: #fff;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 2rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}
